// .timer-bg {
//     --ion-background-color: yellow;
// }
// ion-datetime {
//     --ion-background-color: yellow;
// }
// ion-content{
//   --ion-background-color:#111D12;
// }
// .timer-bg {
//     color: rgb(136, 168, 39) !important;
// }
// .picker-wrapper.sc-ion-picker-md {
//     // --ion-background-color: yellow;
//     background: yellow !important;
// }
// .picker-toolbar.sc-ion-picker-md {
//     // --ion-background-color: yellow;
//     background: yellow !important;
// }