<ion-content [fullscreen]="true">
    <ion-item color="dark">
        <ion-label>Timer Duration</ion-label>
        <ion-datetime class="timer-bg" display-format="mm:ss" placeholder="Tap here" [(ngModel)]="selectedTime"></ion-datetime>
    </ion-item>
    <circle-progress (click)="startTime()" [percent]="percent" [maxPercent]="100" [radius]="radius" [showTitle]="false" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="16" [outerStrokeColor]="'#8000FF'" [showZeroOuterStroke]="false" [backgroundStroke]="'#33003F'"
        [backgroundStrokeWidth]="3" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#FF00CB'" [showInnerStroke]="false"></circle-progress>
</ion-content>